body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.welcome-page h2 {
  margin-top: 20vh;
  text-align: center;
  color: rgb(88 70 54);
}

.welcome-page p {
  text-align: center;
  padding: 0px 50px;
  line-height: 25px;
  margin-top: 70px;
  font-size: 18px;
}

.welcome-page p span {
  color: rgb(88 70 54);
  font-weight: bold;
}

.welcome-page h4 {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  color: #edb672;
}

.welcome-page h4 span {
  position: absolute;
  top: 30px;
  transform: translateX(-50%);
  left: 50%;
}

.map-page .container {
  padding: 20px;
}

.map-page h2 {
  margin-top: 10vh;
  color: rgb(88 70 54);
  line-height: 13px;
  font-weight: 500;
}

.map-wrapper {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 65vh;
  width: 100%;
  background-color: #cb9969;
}

.opinion-info-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.opinion-info-page .circle {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  background-color: rgba(88 70 54);
  display: flex;
  justify-content: center;
  align-items: center;
}

.opinion-info-page .circle p {
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 12px;
}

.opinion-info-page .arrow {
  position: absolute;
  bottom: 32px;
  right: 36px;
}

.success-page .container {
  margin-top: 10vh;
  padding: 0 20px;
}

.success-page .container h2 {
  text-align: center;
  color: rgb(88 70 54);
  font-weight: 500;
  position: relative;
  right: 16px;
}

.success-page .container .desciption {
  display: flex;
  justify-content: center;
}

.success-page .container p {
  width: fit-content;
  line-height: 13px;
  font-size: 18px;
}

.success-page .container .icon-wrapper {
  text-align: center;
  margin-top: 25px;
}

.success-page .container .footer-desc {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.success-page .container .footer-desc span {
  color: #447844;
  font-weight: bold;
}

.happy-page .container {
  height: 100%;
}

.hobby-page .container {
  height: 100%;
}
.hobby-page h2 {
  margin-top: 5vh;
  text-align: center;
  color: rgb(88 70 54);
  font-weight: 500;
  line-height: 17px;
}

.hobby-page .section {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  justify-content: center;
}

.hobby-page .section .item {
  background-color: #cb9969;
  width: 105px;
  height: 105px;
  border-radius: 20px;
}

.personInfo-page .section-item {
  background-color: #cb9969;
  width: 105px;
  height: 105px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.textareaWrap {
  display: flex;
  justify-content: center;
}

.textareaWrap textarea {
  border: none;
  border-radius: 15px;
  padding: 15px;
}

.personInfo-page h2 {
  margin-top: 5vh;
  text-align: center;
  color: rgb(88 70 54);
  font-weight: 500;
  line-height: 18px;
}

.happy-page h2 {
  margin-top: 5vh;
  text-align: center;
  color: rgb(88 70 54);
  font-weight: 500;
}

.happy-page .progressBar {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.happy-page .container .inputWrap {
  margin-top: 60px;
  text-align: center;
  width: 100%;
}

.happy-page .container .inputWrap input {
  width: 220px;
}

.personInfo-page .container .inputWrap input {
  width: 220px;
}

input[type="range"] {
  width: 80px;
  -webkit-appearance: none;
  background-color: #cb9969;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #cb9969;
  margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 15px;
  -webkit-appearance: none;
  height: 15px;
  position: relative;
  top: -2px;
  border-radius: 50%;
  background: rgba(88 70 54);
}

input[type="range"]::-moz-range-progress {
  background-color: #cb9969;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
input[type="range"]::-moz-range-track {
  background-color: #cb9969;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
input[type="range"]::-ms-fill-lower {
  background-color: #cb9969;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.smileWrapp {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.smile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgba(88 70 54);
  position: relative;
}

.eye-left {
  position: absolute;
  top: 13px;
  left: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(88 70 54);
}

.eye-right {
  position: absolute;
  top: 13px;
  right: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(88 70 54);
}

.smile-circle .line {
  position: absolute;
  left: 50%;
  bottom: 7px;
  transform: translateX(-50%);
  width: 20px;
  height: 3px;
  border: solid 1px rgba(88 70 54);
  border-color: rgba(88 70 54) transparent transparent transparent;
  border-radius: 10%/10px 20px 10px 20px;
}

.happy-page .buttonWrap {
  text-align: center;
  margin-top: 65px;
}

.happy-page .buttonWrap button {
  outline: none;
  border: none;
  padding: 10px 29px;
  font-size: 15px;
  background: #edb672;
  color: white;
  font-weight: bold;
  border-radius: 20px;
}

.happy-page .footer-desc {
  text-align: center;
  font-size: 11px;
  margin-top: 20px;
  line-height: 5px;
}

.from_left-enter {
  transform: translateX(-400px);
  transition: all .3s;
}
.from_left-enter-active {
  transform: translateX(0);
  transition: all .3s;
}
.from_left-enter-done {
  transform: translateX(0);
  transition: all .3s;

}

.back .from_left-enter,
.back .from_right-enter {
  transform: translateY(-700px);
  transition: all .3s;
}
.back .from_left-enter-active,
.back .from_right-enter-active {
  transform: translateY(0);
  transition: all .3s;
}
.back .from_left-enter-done,
.back .from_right-enter-done {
  transform: translateY(0);
  transition: all .3s;
}



.from_left-exit {
  transform: translateY(0);
  transition: all .3s;

}
.from_left-exit-active {
  transform: translateY(0);
  transition: all .3s;
}
.from_left-exit-done {
  transform: translateY(-900px);
  transition: all .3s;
}




.from_right-enter {
  transform: translateX(400px);
  transition: all .3s;
}
.from_right-enter-active {
  transform: translateX(0);
  transition: all .3s;
}
.from_right-enter-done {
  transform: translateX(0);
  transition: all .3s;

}

.from_right-exit-active {
  transform: translateY(0);
  transition: all .3s;

}
.from_right-exit-done {
  transform: translateY(-900px);
  transition: all .3s;
}
